.home-maker-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home-maker-login-box {
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.home-maker-login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.home-maker-login-box button {
  width: 100%;
  padding: 12px;
  background: tomato;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}
